<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <!-- HEADER GOES HERE *Include Submit Button* -->
    <!-- POSTS GO HERE *Include Delete Button for each* -->
  </body>
</html>
